{% extends 'base.html' %}
{% load static %}

{%  block head %}
<link rel="stylesheet" type="text/css" href="{% static "CSS/equipe.css" %}">
{% endblock %}
{%  block title %}
   Equipe

{%  endblock %}

{%  block body %}
    <div class = "team-section">
       <h1>Our Team</h1>
        <span class="border"></span>
     <div class="ps">
        <a href="#p1"> <img src="{% static 'images/Capu_modifiée.jpg'%}" alt=""></a>
        <a href="#p2"> <img src="{% static 'images/thibault.jpg'%}" alt=""></a>
        <a href="#p3"> <img src="{% static 'images/Loic.jpg'%}" alt=""></a>
        <a href="#p4"> <img src="{% static 'images/Sander.jpg'%}" alt=""></a>
        <a href="#p5"> <img src="{% static 'images/florian.jpg'%}" alt=""></a>
        <a href="#p6"> <img src="{% static 'images/Felisse.jpg'%}" alt=""></a>
        <a href="#p7"> <img src="{% static 'images/Lise.jpg'%}" alt=""></a>

     </div>

     <div class="section" id="p1">
     <span class="name">Capucine Durez</span>
     <span class="border"></span>
     <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker
     </p>
     </div>
     <div class="section" id="p2">
     <span class="name">Thibault Cullus</span>
     <span class="border"></span>
     <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker
     </p>
     </div>
     <div class="section" id="p3">
     <span class="name">Loïc Vanderkelen</span>
     <span class="border"></span>
     <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker
     </p>
     </div>
     <div class="section" id="p4">
     <span class="name">Sander Vanwulpen</span>
     <span class="border"></span>
     <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker
     </p>
     </div>
     <div class="section" id="p5">
     <span class="name">Florian Brigode</span>
     <span class="border"></span>
     <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker
     </p>
     </div>
     <div class="section" id="p6">
     <span class="name">Félix Bovy</span>
     <span class="border"></span>
     <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker
     </p>
     </div>
     <div class="section" id="p7">
     <span class="name">Lise Milde</span>
     <span class="border"></span>
     <p>
      Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker
     </p>
     </div>
     </div>
 {% endblock %}